@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', cursive;
    border-radius: 20px;
}

body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: #00050a;
    color: #eeeeee;
}

h1 {
    position: relative;
    font-size: 6vw;
    font-weight: bold;
    padding-left: 15vw;
    overflow: hidden;
    font-family: 'Poiret One', cursive;
}

h1 .hi {
    display: inline-block;
}

h1 .text {
    font-family: 'Source Code Pro', sans-serif;
    font-weight: normal;
    padding-left: 1.2vw;
}

h1 .box {
    position: absolute;
    bottom: 0;
    display: inline-block;
    background: #6d3eff;
    height: 100vw;
    z-index: -1;
}

.center-div
{
    display: inline-flex;
    position: absolute;
    margin: auto;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 3px;
}


body {
    position: relative;
    display: grid;
    height: 100vh;
    place-items: center;
    background: #ede9fe;
    overflow: hidden;
    color: #4c1d95;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

svg {
    overflow: visible;
}

.wobble {
    position: relative;
    width: 256px;
    height: 56px;
    background: none;
    border: none;
    color: #f5f3ff;
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    overflow: visible;
    outline: none;
}

.wobble svg {
    /*   filter: drop-shadow(0px 8px 16px rgba(139, 92, 246, 0.75)); */
    overflow: visible;
}

.wobble #btnPath {
    stroke: transparent;
    stroke-width: 3;
}

.wobble > * {
    pointer-events: none !important;
}

.wobble:focus #btnPath {
    stroke-width: 3;
    stroke: #fcd34d;
}

.wobble svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.toggle-points {
}

.blob {
    position: absolute;
    bottom: -25%;
    right: -25%;
    width: 50vw;
}

.blob path {
    fill: #ddd6fe;
}

.blob:nth-of-type(2) {
    top: -25%;
    left: -25%;
    bottom: auto;
    right: auto;
}

.debug-text {
    font-family: "Nunito", sans-serif;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    cursor: pointer;
}

.debug-dot {
    opacity: 0;
}

.debug .debug-dot {
    opacity: 1 !important;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #b9b9b9;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
}

h2 span {
    font-size: 30px;
}

p {
    font-size: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.container > div {
    cursor: pointer;
    height: 210px;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    transition: all 0.5s ease-in;
}

.container > div:hover {
    opacity: 0.7;
    transform: scale(0.98);
    background-color: #926fff;
    border-radius: 20px;
}

.container > div:nth-of-type(1) {
    grid-column: 1 / 3;
}

.container > div:nth-of-type(6) {
    grid-column: 3 / 5;
}

.container > div:nth-of-type(9) {
    grid-column: 3 / 5;
}

.container > div:nth-of-type(10) {
    grid-column: 1 / 3;
}

.bg1 {
    background-color: #80cef0;
}

.bg2 {
    background-color: lightcoral;
    color: #333;
}







body {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    width: 100%;
    font-family: sans-serif;
    background: white;
}
body #wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-toggle {
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    position: fixed;
    z-index: 20;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
}
.navbar-toggle .line {
    fill: none;
    transition-delay: 400ms, 0;
    transition-property: stroke, stroke-dasharray, stroke-dashoffset;
    transition-timing-function: ease;
    transition-duration: 400ms;
    stroke: #000;
    stroke-width: 5.5;
    stroke-linecap: round;
}
.navbar-toggle .line.top {
    stroke-dasharray: 40 139;
}
.navbar-toggle .line.bottom {
    stroke-dasharray: 20 180;
    stroke-dashoffset: -20px;
}
.navbar-toggle.active {
    transform: rotate(45deg);
}
.navbar-toggle.active .line {
    stroke: #FFFFFF;
}
.navbar-toggle.active .line.top {
    stroke-dashoffset: -98px;
}
.navbar-toggle.active .line.bottom {
    stroke-dashoffset: -138px;
}
.navbar-toggle:not(.active):hover .line.bottom {
    stroke-dasharray: 40 180;
    stroke-dashoffset: 0px;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
}
.navbar ul {
    width: 100%;
    max-width: 400px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar ul li {
    opacity: 0;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    display: block;
    text-align: left;
    padding: 20px 0;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all ease 500ms;
    position: relative;
}
.navbar ul li a:before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    opacity: 0;
    transition: opacity ease 500ms;
}
.navbar ul li a:hover {
    letter-spacing: 3px;
}
.navbar ul li a:hover:before {
    opacity: 0.2;
}

#bg-circle {
    transform: scale(0);
    width: 80px;
    height: 80px;
    background: #4E6EE2;
    position: fixed;
    top: 1rem;
    right: 1rem;
    border-radius: 10%;
    z-index: 1;
}