@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');


*{
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.japans{
    display: block;
    font-family: 'Noto Sans JP', sans-serif;
    color: #eaeef0;
    position: relative;
    z-index: 199;
    font-size: 6em;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    border-radius: 3px;
    overflow: hidden;
    text-shadow: 0 14px 28px rgba(0,0,0,0.29), 0 10px 10px rgba(0,0,0,0.26);
    overflow: visible;
    writing-mode: vertical-rl;
    text-align: center;

}

.japan{
    width:100vw;
    height:100vh;
    position: absolute;
    z-index: 199;
}


/*.slit-in-vertical ,.japan{animation:slit-in-vertical 0.7s ease-out both}*/

/*@keyframes slit-in-vertical{0%{transform:translateZ(-800px) rotateY(90deg);opacity:0}54%{transform:translateZ(-160px) rotateY(87deg);opacity:1}100%{transform:translateZ(0) rotateY(0)}}*/



.grid {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgb(28, 28, 28);
}

.dot {
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 260px;
    /*background: linear-gradient(-45deg, #2c2c2c, #464646, #464646, #343434);*/
    /*background-size: 400% 400%;*/
    /*animation: gradient 15s ease infinite;*/
    background: #4b4b4b;
    transform-origin: center center;
    transition: transform 0.6s ease;
    filter: blur(0.1px) saturate(130%);
    z-index: 12;
    pointer-events: none;

}

@keyframes movement_two
{
    0%,
    500% { transform: none; }
    50% { transform: translate(50%, 20%) rotate(-200deg) scale(1.2);}
}


/*@keyframes gradient {*/
/*    0% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*    50% {*/
/*        background-position: 100% 50%;*/
/*    }*/
/*    100% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*}*/



@keyframes moveDown {
    from {
        animation-timing-function: linear;
        opacity: 1;
        transform: translateX(-1500px) translateY(-1500px) rotate(45deg);
    }
    to {
        animation-timing-function: linear;
        opacity: 1;
        transform: translateX(1500px) translateY(1500px) rotate(45deg);
    }
}
@keyframes moveUp {
    from {
        animation-timing-function: linear;
        opacity: 1;
        transform: translateX(1500px) translateY(1500px) rotate(45deg);
    }
    to {
        animation-timing-function: linear;
        opacity: 1;
        transform: translateX(-1500px) translateY(-1500px) rotate(45deg);
    }
}


.line1 {
    height: 240px;
    background: #f5be55;
    width: 900px;
    position: absolute;
    top: 60px;
    bottom: 60px;
    opacity: 0;
    animation-name: moveDown;
    animation-duration: 9s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    z-index: 9;
    border-bottom-left-radius: 180px;
    border-top-left-radius: 180px;
    border-bottom-right-radius: 180px;
    border-top-right-radius: 180px;
}

.line1-1 {
    height: 240px;
    background: #C8E6C9;
    width: 300px;
    position: absolute;
    left: 60px;
    bottom: 60px;
    opacity: 0;
    animation-name: moveDown;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    z-index: 9;
    border-bottom-left-radius: 180px;
    border-top-left-radius: 180px;
    border-bottom-right-radius: 180px;
    border-top-right-radius: 180px;
}

.line2 {
    height: 240px;
    background: #7f99ff;
    width: 800px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    opacity: 0;
    animation-name: moveUp;
    animation-duration: 15s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    z-index: 9;
    border-bottom-left-radius: 180px;
    border-top-left-radius: 180px;
    border-bottom-right-radius: 180px;
    border-top-right-radius: 180px;
}

.line2-2 {
    height: 240px;
    background: #ff80fa;
    width: 700px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    opacity: 0;
    animation-name: moveUp;
    animation-duration: 12s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    z-index: 9;
    border-bottom-left-radius: 180px;
    border-top-left-radius: 180px;
    border-bottom-right-radius: 180px;
    border-top-right-radius: 180px;
}

.line3 {
    height: 240px;
    background: #82ff86;
    width: 600px;
    position: absolute;
    top: -60px;
    bottom: -60px;
    opacity: 0;
    animation-name: moveDown;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    z-index: 9;
    border-bottom-left-radius: 180px;
    border-top-left-radius: 180px;
    border-bottom-right-radius: 180px;
    border-top-right-radius: 180px;

}


.line3-3 {
    height: 280px;
    background: #faf7f6;
    width: 500px;
    position: absolute;
    top: -60px;
    bottom: -60px;
    opacity: 0;
    animation-name: moveDown;
    animation-duration: 40s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    z-index: 9;
    border-bottom-left-radius: 180px;
    border-top-left-radius: 180px;
    border-bottom-right-radius: 180px;
    border-top-right-radius: 180px;

}



.gradiant {
    height: 100vh;
    width: 100vw;
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.51) 47%, rgba(0, 0, 0, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.51) 47%, rgba(0, 0, 0, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.51) 47%, rgba(0, 0, 0, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.51) 47%, rgba(0, 0, 0, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.51) 47%, rgba(0, 0, 0, 1) 100%);
    position: absolute;
    z-index: 11;
    pointer-events: none;

}